 <div class="container">
    <h1>Cadastro com Express</h1>
    
    <form action="/formResult" method="POST">
      <div class="mb-3">
        <label for="name">Nome:</label><br>
        <input name="name" id="name" type="text"><br>
      </div>

      <div class="mb-3">
        <label for="email">Email:</label><br>
        <input name="email" id="email" type="email"><br>
      </div>
  
      <button class="btn btn-primary" type="submit">Enviar</button>
      
    </form>
  </div>